<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Smart Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align: center;">Monitoramento de parâmetros</p>
  <p style="text-align: center;">
    <ion-card>
      <ion-card-content style="text-align: center; font-size: 2rem;" (click)="goToTempPage()">
        <ion-icon name='thermometer' color="primary"></ion-icon> Temperatura
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content style="text-align: center; font-size: 2rem;" routerLink="/luminosidade">
        <ion-icon name='sunny' color="primary"></ion-icon> Luminosidade
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content style="text-align: center; font-size: 2rem;" routerLink="/umidade">
        <ion-icon name='water' color="primary"></ion-icon> Umidade
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content style="text-align: center; font-size: 2rem;" routerLink="/buzzer">
        <ion-icon name='musical-note' color="primary"></ion-icon> Buzzer
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content style="text-align: center; font-size: 2rem;" routerLink="/led">
        <ion-icon name='color-fill' color="primary"></ion-icon> Led
      </ion-card-content>
    </ion-card>
  </p>
</ion-content>
